:root {
  --primary-color: #f9f7fe;
  --button-color: #6c63ff;
  --secondary-color: white;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: black;
}
h1 {
  font-size: 86px;
}
h2 {
  font-size: 50px;
  margin: 23px;
}
p {
  font-weight: normal;
  font-family: var(--default-font-family);
  font-size: 15px;
  line-height: 30px;
}

.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 80px 20px;
}
.hero p {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: 400;
}

.hero h2 {
  font-size: 24px;
  line-height: 2em;
}
.btn-branding {
  background-color: var(--button-color);
  color: var(--secondary-color);
  border-radius: 4px;
  padding: 13px 20px;
  font-size: 18px;
}
.btn-branding-outline {
  background-color: var(--primary-color);
  color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 4px;
  padding: 15px 30px;
  font-size: 18px;
}

.about-section {
  padding: 30px 20px;
}
.about-section h1 {
  font-size: 86px;
  line-height: 1.5;
}
.about-section h2 {
  font-size: 23px;
}

.about-section p {
  font-size: 15px;
  background-color: var(--primary-color);
  padding: 15px 10px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 70px;
  }
  p {
    text-align: center;
  }
}
